<% include ../partials/head %>
<% include ../partials/nav %>

<div class="container">
  <h2>Register</h2>
  <div class="row">
    <div class="col s10">
      <form action="/register" method="post" accept-charset="utf-8">
        <div>
        <input type="hidden">
        <label for="familyName">Family Name</label>
        <input type="text" name="familyName">
        <label for="password" name="password">Password</label>
        <input type="password" name="password">
      </div>
        <label for="address">Address</label>
        <input type="text" name="address">
        <label for="phoneNumber">Phone Number</label>
        <input type="text" name="phoneNumber">
        <label for="email">Email Address</label>
        <input type="text" name="email">
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="numFamilyMembers">Number of Family Members</label>
        <input type="text" name="numFamilyMembers">
        <label for="monthlyGallons">Monthly Water Usage in Gallons</label>
        <input type="text" name="monthlyGallons">
        <label for="dailyGallons">Daily Water Usage in Gallons</label>
        <input type="text" name="dailyGallons">
        <div class="input-field col s12">
          <select name="competition">
            <option value="" disabled selected>Choose your city</option>
            <option value="Pasadena">Pasadena</option>
            <option value="Woodland Hills">Woodland Hills</option>
            <option value="Culver City">Culver City</option>
          </select>
        <label for="competition">City</label>
      </div>
        <button class="waves-effect waves-light btn" type="submit" value="Submit">Register</button>
      </form>
    </div>
  </div>
</div>

<% include ../partials/footer %>
