<% include ./partials/head %>
<% include ./partials/nav %>
<div class="container">

<h2>About Water Wars</h2>

<p>Water Wars was built in 48 hours at the Water Hackathon hosted at Rhubarb Studios in Downtown Los Angeles.</p>

<div class="row">
  <div class="col s12 row center">

  </div>
</div>

</div>

<% include ./partials/footer %>
