<% include ./partials/head %>
<% include ./partials/nav %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center orange-text text-lighten-2">Let's make saving water a friendly competition.</h1>
      </div>
      <div class="row center">
        <h5 class="header white-text col s12 light">Challenge your neighbors and friends!</h5>
      </div>
      <div class="row center">
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
      </div>
    </div>
    <div class="parallax">
      <img src="/images/dam.jpg"/>
    </div>
</div>

    <div class="section white">
      <div class="row container">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">person_pin</i></h2>
            <h5 class="center">Quick Setup</h5>

            <p class="light center">We've developed an easy-to-install device that monitors your water usage and reports to the website once daily. Singup online is easy, and you can login to view your results anytime.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">loop</i></h2>
            <h5 class="center">Family Fun</h5>
            <p class="light center">Start a competition with your neighbors, friends, classmates, or coworkers! It's a great way to build community with a little friendly competition.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">trending_up</i></h2>
            <h5 class="center">Better Data</h5>
            <p class="light center">Our interface provides an easy, fun, and accessible way to view your water usage and track how much water you've saved. You can also check out your current rank in the competition. </p>
          </div>
        </div>
      </div>
    </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header center orange-text text-lighten-2">When we all play to save water. We win!</h2>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/meadow.jpg"></div>
  </div>

  <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 row center">
          <h2>How it works..</h2>
        </div>
      </div>
      <div class="row">
        <div class="col s12 center">
          <h5>Nihil retro Kickstarter, elit typewriter fingerstache wolf fixie kitsch sint pork belly raw denim craft beer occupy organic. Vero do Bushwick fanny pack, skateboard delectus vegan est lomo keffiyeh placeat elit hella.</h5>
        </div>
      </div>
    </div>
  </div>
</div>


<% include ./partials/footer %>
