<% include ./partials/head %>
<% include ./partials/nav %>

  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
       <br><br>
         <h1 class="header center orange-text text-lighten-2">Let's make water saving a friendly competition!</h1>
         <div class="row center">
           <h5 class="header white-text col s12 light">challange your neighbors!</h5>
         </div>

        <div class="row center">
        <a href="/register" id="download-button" class="btn-large waves-effect waves-light orange">Get Started</a>
       </div>
      <br><br>
      </div>
     </div>
    <div class="parallax"><img src="/images/dam.jpg"/></div>
  </div>

  <div class="container">
    <div class="section">
     <div class="row">
   <div class="col s12 row center">
      <h2>How it works..</h2>
    </div>
  </div>

  <div class="row">
    <div class="col s3"></div>
    <div class="col s12 center">
      <h5>Nihil retro Kickstarter, elit typewriter fingerstache wolf fixie kitsch sint pork belly raw denim craft beer occupy organic. Vero do Bushwick fanny pack, skateboard delectus vegan est lomo keffiyeh placeat elit hella.</h5>
    </div>
   </div>
  </div>
  </div>

  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h2 class="header center orange-text text-lighten-2">When we all play to save water. We win!</h2>
        </div>
        <div class="row center">
          <h5 class="header white-text col s12 light center-align"></h5>
        </div>
      </div>
    </div>
    <div class="parallax"><img src="images/meadow.jpg"></div>
  </div>
        <div class="container">
    <div class="section">
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">person_pin</i></h2>
            <h5 class="center">Sign up in seconds</h5>

            <p class="light">Echo Park Marfa synth Pinterest semiotics stumptown. Bitters semiotics meh crucifix cray, heirloom mumblecore Helvetica lomo. Banksy Vice mlkshk bitters, single-origin coffee Marfa Shoreditch.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">loop</i></h2>
            <h5 class="center">Save water everytime you..</h5>

            <p class="light">Etsy 8-bit retro, cornhole salvia leggings kitsch vinyl chillwave Echo Park. Butcher stumptown bitters keytar. Bushwick pickled lomo heirloom.</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center black-text"><i class="medium material-icons">trending_up</i></h2>
            <h5 class="center">Real time data of your usage!</h5>

            <p class="light">Swag direct trade Tumblr fap paleo. Keytar craft beer listicle iPhone Austin chambray, direct trade pour-over Intelligentsia organic hella 90's McSweeney's salvia. </p>
          </div>
        </div>
      </div>

    </div>
  </div>

  </div>

   <% include ./partials/footer %>
  <!--  Scripts-->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <script type="text/javascript" src="./javascripts/materialize.js"></script>
  <script type="text/javascript" src="./javascripts/main.js"></script>

